<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>UpSale & Inksystem</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
    </head>
    <body>
        <table class="table table-striped">
        {% for employee in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ employee }}</td>
                <td>{{ employee.department }}</td>
                <td>{{ employee.job }}</td>
                <td>{{ employee.work_location }}</td>
                <td>{{ employee.mobile_phone }}</td>
                <td>{{ employee.work_phone }}</td>
                <td>{{ employee.work_email }}</td>
                <td>{% if employee.avatar %}<img src='{{ employee.avatar.url }}' style="max-width: 200px;"/>{% endif %}</td>
                <td>{{ employee.resource.active|yesno:"Активен,Не активен" }}</td>

            </tr>
        {% endfor %}
        </table>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"></script>
    </body>
</html>


