{% load mptt_tags %}
{% load menu_tags %}
{% load staticfiles %}

<ul class="nav navbar-nav">
{% recursetree menu %}
    {% menu_perm node user as perm %}
    {% if perm %}
        {% if not node.is_leaf_node %}
            {% if node.is_root_node %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ node.name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {{ children }}
                    </ul>
                </li>
            {% else %}
                <li><a href="#">{{ node.name }}</a>
                    <ul class="child">
                        {{ children }}
                    </ul>
                </li>
            {% endif %}

        {% else %}
            <li ><a href="{{ node.url }}">{{ node.name }}</a></li>
        {% endif %}
    {% endif %}

{% endrecursetree %}
</ul>
