{% load mptt_tags %}

<ul  class="nav nav-pills nav-justifie">
    {% recursetree menu %}
            {% if not node.is_leaf_node %}
                {% if node.is_root_node %}
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ node.name }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {{ children }}
                        </ul>
                    </li>
                {% else %}
                    <li><a href="#">{{ node.name }}</a>
                        <ul>
                            {{ children }}
                        </ul>
                    </li>
                {% endif %}

            {% else %}
                <li ><a href="{{ node.url }}">{{ node.name }}</a></li>
            {% endif %}
    {% endrecursetree %}
</ul>

<script type="text/javascript">
    $(document).ready(function() {
        $('.dropdown-menu').navgoco({
              caret: '<span class="caret"></span>',
              accordion: false,
              openClass: 'open',
              save: true,
              cookie: {
                  name: 'navgoco',
                  expires: false,
                  path: '/'
              },
              slide: {
                  duration: 400,
                  easing: 'swing'
              }
          });
    });
</script>

