{% extends "base.html" %}

{% block content %}
<table class="table table-striped">
    <thead>
    <tr>
        <td>Партнер</td>
        <td>Кампания</td>
        <td>Аккаунт-менеджер</td>
        <td>Услуга</td>
        <td>Доменная зона</td>
        {% for date in dates %}
        <td>{{ date }}</td>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for item in report_list %}
    <tr>
        <td>{{ item.partner }}</td>
        <td>{{ item.campaign }}</td>
        <td>{{ item.specialist }}</td>
        <td>{{ item.service }}</td>
        <td>{{ item.domain_zone }}</td>
        {% for date in item.dates %}
            <td>
                {{ date.cash }}
            </td>
        {% endfor %}

    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}